// set absolutely everything to inherit its box-sizing, and then set the
// root element to `border-box` - this means we'll always have the nice
// box-model by default, unless a specific component overrides it.
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    font-family: $scrumpy-fonts;
    font-size: 16px;
    line-height: 1.5em;
}

body {
    padding-left: 1rem;
    padding-right: 1rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

a {
    color: $scrumpy-green;
    text-decoration: none;
}

img, svg {
    max-width: 100%;
    max-height: 100%;
}

h1, h2 {
    font-size: 1.25rem;
    font-weight: bold;
}