html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, dialog, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
main {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
main {
  display: block; }

ul, ol {
  list-style: none; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

a {
  color: #acc314;
  text-decoration: underline; }

img, svg {
  max-width: 100%;
  max-height: 100%; }

h1, h2 {
  font-size: 1.25rem;
  font-weight: bold; }

body {
  position: relative;
  max-width: 35rem;
  border-left: 0.5rem solid #fff;
  border-right: 0.5rem solid #fff;
  margin-left: auto;
  margin-right: auto; }
  body * + * {
    margin-top: 1.5rem; }

.main {
  float: right;
  width: calc(100% - 5rem); }

.screenshot {
  display: block; }

.bullets {
  list-style: square inside; }
  .bullets li {
    margin-top: 0; }

.legal {
  clear: both;
  text-align: right;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-top: 1.5rem; }

.heart-trello:after {
  content: url("../images/icon-heart.svg");
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
  vertical-align: text-top; }

@keyframes shake {
  10%, 90% {
    transform: rotate(-1deg); }
  20%, 80% {
    transform: rotate(2deg); }
  30%, 50%, 70% {
    transform: rotate(-4deg); }
  40%, 60% {
    transform: rotate(4deg); } }
.logo {
  float: left;
  width: 5rem;
  padding-right: 1.5rem;
  position: relative;
  position: sticky;
  top: 1.5rem; }

.logo__img {
  display: block; }
  .logo__img:hover {
    transform: translate3d(0, 0, 0);
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; }

.site-title__app-name {
  color: #acc314; }

.store-link {
  display: block; }
  .can-install .store-link, .is-installed .store-link {
    display: none; }

.installed {
  display: none; }
  .is-installed .installed {
    display: block; }

.installed__message {
  font-style: italic; }
  .installed__message:before {
    content: url("../images/icon-yep.svg");
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    vertical-align: text-top; }

.install {
  display: none; }
  .can-install .install {
    display: block; }

.install__button {
  background-color: #acc314;
  color: #fff;
  text-transform: uppercase;
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.333em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer; }

.install__message {
  font-style: italic;
  font-size: 0.875rem;
  margin-left: 0.666rem; }
  @media all and (max-width: 500px) {
    .install__message {
      display: block;
      margin-left: 0;
      margin-top: 0.25rem; } }

.fork-me {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 0; }
  @media all and (min-width: 750px) {
    .fork-me {
      display: block; } }

/*# sourceMappingURL=style.css.map */
