@keyframes shake {
    10%, 90% {
        transform: rotate(-1deg);
    }

    20%, 80% {
        transform: rotate(2deg);
    }

    30%, 50%, 70% {
        transform: rotate(-4deg);
    }

    40%, 60% {
        transform: rotate(4deg);
    }
}

.logo {
    float: left;
    width: 5rem;
    padding-right: 1.5rem;
    position: relative;
    position: sticky;
    top: 1.5rem;
}

.logo__img {
    display: block;

    &:hover {
        transform: translate3d(0, 0, 0);
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
}