.main {
    position: relative;
    max-width: 35rem;
    padding-left: 5rem;
    margin-left: auto;
    margin-right: auto;

    * + * {
        margin-top: 1.5rem;
    }
}

.main-title__app-name {
    color: $scrumpy-green;
}

.screenshot {
    display: block;
}

.bullets {
    list-style: square outside;

    li {
        margin-top: 0;
    }
}