{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "es6": true
    },
    "globals": {
        "chrome": false,
        "moment": false,
        "Chartist": false,
        "Trello": false
    }
}