.header {
    text-align: center;
}

.layout {
    display: flex;
    max-width: 90%;
    margin-top: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.layout__left {
    width: 50%;
}

.layout__right {
    padding-left: 2.5rem;
}