.problems-list {
    text-align: center;

    &:empty {
        display: none;
    }
}

.problems-list__item {
    line-height: 1.5em;

    &:before {
        content: url("../../images/icon-error.svg");
        position: relative;
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 0.666em;
        vertical-align: top;
        opacity: 0.75;
    }
}